* {
    margin: 0px;
}
header {
    background-color: black;
    display: flex;
    height: 70px;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: center;
}
.header2 {
    width: 50%;
    word-spacing: 50px;
    text-align: center;
}
.header1 {
width: 50%;
text-align: center;
}

main {
     text-align: center;
}
.pizza {
    background: linear-gradient(45deg, black, red, black);
    color: white;
    margin: auto;
    width: 500px;
    padding: 5px;
    border-radius: 50%;
    margin-top: 80px;
}
.pizza h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.pizza-img {
    display: flex;
    width: 100%;
    height: 350px;
    margin-top: 30px;
}
 .corma {
    width: 50%; 
}
.delight {
    width: 50%;
}
.corma img {
    width: 500px;
    height: 300px;
    border-radius: 20px;
}
.delight img {
    width: 500px;
    height: 300px;
    border-radius: 20px;
}
p {
    margin-top: 30px;
    margin-bottom: 20px;
}
